/* ::::: http://dev.dcloud.net.cn/mui/dist/css/bootstrap.min.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
.clearit { clear:both; height:0; font-size:0; overflow:hidden; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background: transparent none repeat scroll 0px 0px; }
a:active, a:hover { outline: 0px none; }
h1 { margin: 0.67em 0px; font-size: 2em; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('glyphicons-halflings-regular.eot') format("embedded-opentype"), url('glyphicons-halflings-regular.woff') format("woff"), url('glyphicons-halflings-regular.ttf') format("truetype"), url('glyphicons-halflings-regular.svg') format("svg");
}

* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
blockquote footer::before, blockquote small::before, blockquote .small::before { content: "— "; }
.blockquote-reverse footer::before, blockquote.pull-right footer::before, .blockquote-reverse small::before, blockquote.pull-right small::before, .blockquote-reverse .small::before, blockquote.pull-right .small::before { content: ""; }
.blockquote-reverse footer::after, blockquote.pull-right footer::after, .blockquote-reverse small::after, blockquote.pull-right small::after, .blockquote-reverse .small::after, blockquote.pull-right .small::after { content: " —"; }
blockquote::before, blockquote::after { content: ""; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
@media screen and (max-width: 767px) {
}
.form-control::-moz-placeholder { color: rgb(119, 119, 119); opacity: 1; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 4px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child { border-top-left-radius: 0px; border-top-right-radius: 0px; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.breadcrumb > li + li::before { padding: 0px 5px; color: rgb(204, 204, 204); content: "/ "; }
@media screen and (min-width: 768px) {
}
.popover > .arrow, .popover > .arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover > .arrow::after { content: ""; border-width: 10px; }
.popover.top > .arrow::after { bottom: 1px; margin-left: -10px; content: " "; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px; }
.popover.right > .arrow::after { bottom: -10px; left: 1px; content: " "; border-right-color: rgb(255, 255, 255); border-left-width: 0px; }
.popover.bottom > .arrow::after { top: 1px; margin-left: -10px; content: " "; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.popover.left > .arrow::after { right: 1px; bottom: -10px; content: " "; border-right-width: 0px; border-left-color: rgb(255, 255, 255); }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
@media screen and (min-width: 768px) {
}
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after { display: table; content: " "; }
.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after { clear: both; }
/* ::::: http://dev.dcloud.net.cn/mui/dist/css/mui.min.css?v=2016-07-05%2016:35:04%20+0800 ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background: transparent none repeat scroll 0px 0px; }
a:active, a:hover { outline: 0px none; }
h1 { margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
* { box-sizing: border-box; outline: 0px none; }
body { font-family: "Helvetica Neue",Helvetica,sans-serif; font-size: 17px; line-height: 21px; color: rgb(0, 0, 0); background-color: rgb(239, 239, 244); }
a { color: rgb(0, 122, 255); text-decoration: none; }
a:active { color: rgb(0, 98, 204); }


* {  }
html, body { width: 100%; height: 100%; font-size: 15px; font-weight: 400; }
body { position: relative ! important; font-family: "Helvetica Neue","Segoe UI",Tahoma,Arial,"Hiragino Sans GB",STHeiti,"Microsoft Yahei","WenQuanYi Micro Hei",sans-serif; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
.docs-header, .docs-sub-header { position: relative; background-color: rgb(255, 251, 232); }
.docs-header { min-height: 760px; }
.docs-header-bottom {  }
@media screen and (min-width: 768px) {
}
.docs-masthead { position: relative; padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid rgba(255, 255, 255, 0.1); background-color: rgb(0, 0, 0); }
.docs-title { position: absolute; left: 50%; z-index: 20; margin-bottom: 0px; font-size: 22px; font-weight: 400; transform: translateX(-50%); }
.docs-nav .docs-nav-trigger { color: rgb(255, 255, 255); opacity: 0.7; }
.docs-nav .docs-nav-group { position: absolute; top: 40px; right: 0px; left: 0px; z-index: 20; height: 0px; overflow: hidden; background-color: rgba(0, 0, 0, 0.9); opacity: 0; }
.docs-nav .docs-nav-item { display: block; padding: 20px 15px; font-size: 22px; }
.docs-title a, .docs-nav-item { color: rgb(255, 255, 255); transition: opacity 0.2s linear 0s; }
.docs-title a:active, .docs-title a:focus, .docs-nav-item:active, .docs-nav-item:focus { color: rgb(255, 255, 255); opacity: 0.5; }
@media screen and (min-width: 768px) {
	.docs-title { position: static; float: left; font-weight: 300; transform: translateX(0px); }
	.docs-nav { float: right; }
	.docs-nav .docs-nav-trigger { display: none; }
	.docs-nav .docs-nav-group { position: static; display: block; height: auto; background-color: transparent; opacity: 1; }
	.docs-nav .docs-nav-item { position: relative; display: inline-block; padding: 0px 15px; font-size: 14px; }
	.docs-component-group::before, .docs-component-group::after { position: absolute; left: 30px; width: 0px; height: 0px; content: ""; }
	.docs-component-group::before { top: -11px; margin-left: -11px; border-right: 11px solid transparent; border-bottom: 11px solid rgba(0, 0, 0, 0.3); border-left: 11px solid transparent; }
	.docs-component-group::after { top: -10px; margin-left: -10px; border-right: 10px solid transparent; border-bottom: 10px solid rgb(255, 255, 255); border-left: 10px solid transparent; }
}
.docs-header-content {     width: 388px;
	float: left; position: relative; padding: 50px 10px; text-align: center; animation-name: fadeintext; animation-duration: 2s; }
.docs-home .docs-subtitle { max-width: 750px; margin: 0px auto 20px; font-size: 28px; font-weight: 300; line-height: 38px; color: rgb(214, 76, 40); }
@media screen and (min-width: 768px) {
	.docs-header-content { top: 30%; transform: translateY(-50%); }
	.docs-home .docs-subtitle { margin-bottom: 30px; font-size: 41px; line-height: 60px; }
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.docs-footer { padding: 30px 20px; margin-top: 50px; font-size: 14px; color: rgb(119, 119, 119); text-align: center; border-top: 1px solid rgb(221, 221, 221); }
@media screen and (min-width: 768px) {
}
.docs-footer-text { margin-top: 0px; margin-bottom: 0px; }
@media screen and (min-width: 768px) {
	.docs-footer-text { width: 550px; padding-right: 0px; padding-left: 0px; margin: 0px auto; }
}
.docs-footer-links { padding-left: 0px; }
.docs-footer-links li { display: inline; padding-right: 3px; padding-left: 3px; }
.github-btn { overflow: hidden; border: 0px none; }
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
#popoversInDevice #iwindow::before { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 11; content: ""; background-color: rgba(0, 0, 0, 0.3); }
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
}
.column-group::before, .column-group::after { display: table; content: " "; }
.column-group::after { clear: both; }
.container { position: relative; padding-right: 0px; padding-left: 0px; margin-right: auto; margin-left: auto; }
.column { float: left; padding-right: 15px; padding-left: 15px; }
@media screen and (min-width: 768px) {
	.container { padding: 0px; }
}
@media screen and (min-width: 1200px) {
	.container {  }
}
@media screen and (max-width: 1024px) {
}
ul { list-style: outside none none; }
.docs-home h3 { margin-bottom: 20px; }
.docs-home p { color: rgb(0, 0, 0); }
a:hover, a:focus { text-decoration: none; }
.mui-table-view.api .mui-table-view-cell > a.mui-active:not(.mui-btn), .mui-table-view.api .mui-table-view-cell.api.mui-active { background: transparent none repeat scroll 0% 0%; }
.mui-input-group::before { height: 1px ! important; }

.round { float: left; overflow: hidden; }
.round img { height: 120px; border-radius: 100%; max-width: 100%; }
.round ~ div { margin-left: 130px; padding-top: 5px; }
.mui-control-content .pic { text-align: center; }
.mui-control-content .text { margin-top: 15px; }
.docs-home.mui-ios .phone .statusbar, .docs-home.mui-android .phone .statusbar, .docs-home.mui-ios .phone::before, .docs-home.mui-ios .phone::after { display: none; }
.mui-control-content { margin-top: 30px; }
.mui-control-content img { width: 320px; height: auto; }
.mui-control-content .text p { margin-top: 20px; }
.mui-control-content ul { list-style-type: disc; }
.docs-masthead { z-index: 1000; }
.phone { margin: 10px auto !important;
	float: right;  position: relative; background: rgb(17, 17, 17) none repeat scroll 0% 0%; border-radius: 55px; box-shadow: 0px 0px 0px 2px rgb(170, 170, 170); width: 320px; height: 568px; padding: 105px 25px; box-sizing: content-box; }
.phone iframe { height: 100%; display: block; width: 100%; margin-top: 20px; }


@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: 400;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff2') format("woff2"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
[class*="am-icon-"] { display: inline-block; font-style: normal; }
[class*="am-icon-"]::before { display: inline-block; font-family: FontAwesome,sans-serif; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; -moz-osx-font-smoothing: grayscale; transform: translate(0px, 0px); }
.am-icon-sm::before { font-size: 150%; vertical-align: -10%; }
.am-icon-md::before { font-size: 200%; vertical-align: -16%; }
.am-icon-lg::before { font-size: 250%; vertical-align: -22%; }
.am-icon-btn { box-sizing: border-box; display: inline-block; width: 48px; height: 48px; font-size: 24px; line-height: 48px; border-radius: 50%; background-color: rgb(238, 238, 238); color: rgb(85, 85, 85); text-align: center; }
.am-icon-btn:focus, .am-icon-btn:hover { background-color: rgb(245, 245, 245); color: rgb(51, 51, 51); text-decoration: none; outline: 0px none; }
.am-icon-btn:active { background-color: rgb(221, 221, 221); color: rgb(51, 51, 51); }

.am-icon-building-o::before { content: ""; }


.am-icon-mobile-phone::before, .am-icon-mobile::before { content: ""; }
.am-icon-building::before { content: ""; }

.am-icon-paint-brush::before { content: ""; }

.am-icon-server::before { content: ""; }


.am-container { box-sizing: border-box; margin-left: auto; margin-right: auto; padding-left: 1rem; padding-right: 1rem; width: 100%; max-width: 1000px; }
.am-container::after, .am-container::before { content: " "; display: table; }
.am-container::after { clear: both; }
@media only screen and (min-width: 641px) {
	.am-container { padding-left: 1.5rem; padding-right: 1.5rem; }
}
@media only screen and (min-width: 641px) {
}
.am-g { margin: 0px auto; width: 100%; }
.am-g::after, .am-g::before { content: " "; display: table; }
.am-g::after { clear: both; }
@media only screen and (min-width: 641px) {
}
.am-g-fixed { max-width: 1000px; }
[class*="am-u-"] { width: 100%; padding-left: 1rem; padding-right: 1rem; float: left; position: relative; }
[class*="am-u-"] + [class*="am-u-"]:last-child { float: right; }
@media only screen and (min-width: 641px) {
	[class*="am-u-"] { padding-left: 1.5rem; padding-right: 1.5rem; }
}
@media only screen {
}
@media only screen and (min-width: 641px) {
	.am-u-md-4 { width: 33.3333%; }
	.am-u-md-6 { width: 50%; }
	.am-u-md-8 { width: 66.6667%; }
	.am-u-md-pull-4 { right: 33.3333%; }
	.am-u-md-push-8 { left: 66.6667%; }
}
@media only screen and (min-width: 1025px) {
}

.amt-features { padding: 50px 0px; text-align: center; }
.amt-features .am-g + .am-g { margin-top: 30px; }
.amt-features h2 { margin-top: 1em; }
.amt-features [class*="am-icon"] { width: 80px; height: 80px; border: 1px solid rgb(238, 238, 238); border-radius: 50%; font-size: 40px; line-height: 80px; color: rgb(119, 119, 119); }
.amt-features p { text-align: left; }