@import "common/Config";
//
input[type="search"] {
  -webkit-appearance: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

.aui-input {

  width: 100%;
  height: $input-height;
  -webkit-appearance: none;
  border: none;
  font-size: $badge-font-size;
  line-height: $input-height;
  //background-color: $input-background-color;

  background-color:transparent;
  -webkit-appearance: none;


  -webkit-tap-highlight-color:transparent;
  border-color:transparent;
  color: $input-font-color;
  outline: none;
  // -webkit-user-select: text;
}

.aui-input-outline {
  boxSizing: 'border-box';
  //width: 100%;
  //height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;

  border: 1px solid $input-border-color;
  border-radius: $input-radius;

  //-webkit-user-select: text;
}

.aui-searchinput-outline {
  boxSizing: 'border-box';
  //width: 100%;
  //height: 40px;
  padding-left: 5px;
  padding-right: 10px;
  border: none;
  //background-color: #00f;
  border: 1px solid $input-border-color;
  border-radius: $input-radius;

  //-webkit-user-select: text;
}