@import "common/Config";
//
//$font-family-sans-serif: /* 1 */ -apple-system, BlinkMacSystemFont,
//  /* 2 */ "PingFang SC", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "wenquanyi micro hei",
//  /* 3 */ "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//$font-family-serif: Georgia, "Times New Roman", Times, SimSun, serif !default; // FangSong, STFangSong
//$font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace !default;
//$body-font-family: $font-family-sans-serif;
//
//$body-background: #fff !default;
//
//$body-font-family: $font-family-sans-serif;
//$body-font-weight: $font-weight-normal !default;
//$body-font-style: normal !default;
//body {
//
//  padding: 0;
//  margin: 0;
// // font-family: $body-font-family;
// // font-weight: $body-font-weight;
// // font-style: $body-font-style;
//  line-height: 1.6;
//  position: relative;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}


// Amaze UI Touch: List
// =============================================================================



// Mixins
// -----------------------------------------------------------------------------
@mixin aui-list-item() {
  min-height: px2rem(44);
  margin-bottom: -1px;
  border: 1px solid #e6e6e6;
  border-width: 1px 0;
  &:active {
    background: lighten(#000000, 93.5%);
  }
}

%aui-list-item-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// list item
.aui-item {
  @extend %aui-list-item-layout;
  padding: px2rem(6) px2rem(15);
  @include aui-list-item;

  // nested in card
  .aui-card-body & {
    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

// item: header
.aui-item-header {
  min-height: 0;
  padding: px2rem(6) px2rem(15);
  border-top: 1px solid #e6e6e6;
  background: #f7f7f7;
  color: lighten(#000000, 53.3%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// item: linked
.aui-item-linked {

  padding: 0;
  > a {

    @extend %aui-list-item-layout;
    width: 100%;
    padding: px2rem(10)  px2rem(7) px2rem(10) px2rem(15);
    color:  lighten(#000000, 13.5%);
    text-decoration: none;

  }
}

.aui-item-main {
  @extend %aui-list-item-layout;
  flex: 1;
}

// item: title wrapper -> wrap: title, title after, chevron
.aui-item-title-row {
  @extend %aui-list-item-layout;
  flex: 1;

  & ~ [class*="aui-item-"] {
    margin-top: px2rem(7);
  }
}

// item: main -> title
.aui-item-title {
  flex: 1;
  margin: 0;
  font-size: px2rem(17);
  font-weight: 500;
  font-style: normal;
}

// link chevron
.aui-item-icon {
  color: rgba(#888, .45);
  font-size: px2rem(25);
}

// item: title after
.aui-item-after {
  color: #888;
  margin-left: px2rem(5);
  font-size: px2rem(17);
  font-style: normal;
  font-weight: 500;
  & + .aui-icon {
    margin-left: px2rem(3);
  }
}

.aui-item-subtitle {
  font-size: px2rem(17);
  color:  #555;
}

.aui-item-desc {
  font-size: px2rem(14);
  color: #888;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2px; // number of lines to show
  overflow: hidden;
  line-height: 1.3em;
  max-height: 2.6em;
}

// list with subtitle/description
.aui-item-content {
  .aui-item-main {
    display: block;
  }
}

// item: media
.aui-item-media {
  & + .aui-item-main {
    margin-left: px2rem(10);
  }
}

// List item: field in item
// -----------------------------------------------------------------------------
//%item-field {
//  border-color: #ddd;
//  padding-top: 0;
//  padding-bottom: 0;
//
//  .#{$field-prefix}-container {
//    display: flex;
//    align-items: center;
//    flex: 1;
//    margin: 0;
//  }
//}
//
//.#{$item-prefix}-input {
//  @extend %item-field;
//
//  .#{$field-prefix}-label {
//    @include fixes-flexbox-for-android;
//    width: 35%;
//  }
//
//  input,
//  textarea {
//    flex: 1;
//
//    &,
//    &:hover,
//    &:focus {
//      margin: 0;
//      padding: unquote(get-side($form-padding, top) + rem-calc(1) + " " + 0);
//      border: none;
//    }
//  }
//}
//
//%item-radio-checkbox {
//  @extend %item-field;
//  padding: 0;
//
//  .#{$field-prefix}-container {
//    padding: 0 $global-spacing;
//
//    &:active {
//      background: $gray-lighter;
//    }
//  }
//
//  .#{$field-prefix}-label {
//    @include fixes-flexbox-for-android;
//    flex: 1;
//    padding: unquote(get-side($form-padding, top) + rem-calc(1) + " " + 0);
//    line-height: normal;
//  }
//
//  input {
//    display: none;
//
//    & + .#{$field-prefix}-icon {
//      display: none;
//      overflow: hidden;
//      border-radius: rem-calc(10);
//      color: $global-primary;
//      font-size: rem-calc(20);
//    }
//
//    &:checked + .#{$field-prefix}-icon {
//      display: block;
//    }
//  }
//}
//
//.#{$item-prefix}-checkbox,
//.#{$item-prefix}-radio {
//  @extend %item-radio-checkbox;
//}
//
//.#{$item-prefix}-checkbox {
//  .#{$field-prefix}-icon {
//    background: $global-primary;
//    color: $white !important;
//  }
//}

// Modifiers: inset
// -----------------------------------------------------------------------------
//.#{$list-prefix}-inset {
//  margin-left: $global-spacing;
//  margin-right: $global-spacing;
//}