@import "common/Config";

// Amaze UI Touch: List
// =============================================================================




.aui-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;

}
