@import "common/Config";

// Amaze UI Touch: List
// =============================================================================


.aui-navbar-active {

  &:active {
    background-color: rgba(0, 0, 0, .2);
    color: #f0ad4e;
    height: 40px;

  }

}





