

.aui-ReactNavigationControllerViewContent {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display:block;
}

